//- base.pug will used this file or will be extended with this file 
//- n it's used to embde this block of code into base.pug page
extends base

block content
    main.main
        .card-container
            //-looping on pug
            each trs in tour
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/tours/${trs.imageCover}`, alt=`${trs.name}`)
                        h3.heading-tertirary
                            span= trs.name

                    .card__details
                        h4.card__sub-heading= `${trs.difficulty} ${trs.duration}-day tour`
                        p.card__text= trs.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= trs.startLocation.description
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                            span= trs.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span= `${trs.locations.length} stops`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span= `${trs.maxGroupSize} people` 

                    .card__footer
                        p
                            span.card__footer-value= `$${trs.price}`
                            | 
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value= trs.ratingsAverage
                            | 
                            span.card__footer-text= `rating (${trs.ratingsQuantity})`
                        a.btn.btn--green.btn--small(href=`/tour/${trs.slug}`) Details
