extends base

block content
    main.main
        //-(style="position:absolute;top:100px;")
        .card-container(style="margin-top:-15px;")
            .card
                .card__header
                    .card__picture
                        .card__picture-overlay &nbsp;
                        img.card__picture-img(src=`/img/tours/${trs.imageCover}`, alt=`${trs.name}`)
                    h3.heading-tertirary
                        span= trs.name

                .card__details
                    h4.card__sub-heading= `${trs.difficulty} ${trs.duration}-day cours`
                    p.card__text= trs.summary
                    .card__data
                        svg.card__icon
                            use(xlink:href="/img/icons.svg#icon-dollar-sign")
                        span= trs.price
                    .card__data
                        svg.card__icon
                            use(xlink:href='/img/icons.svg#icon-calendar')
                        span= trs.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
                    .card__data
                        svg.card__icon
                            use(xlink:href="/img/icons.svg#icon-user")
                        span= `rating (${trs.ratingsQuantity})`
                    .card__data
                        a.btn.btn--green.btn--small(href=`/tour/${trs.slug}`) Details
        //-(style="max-width: 80rem;min-height: 60vh;position:absolute;right:30px;top:50px;")
        .user-view(style="margin-top:-530px;margin-left:350px;display:inline-block;")
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Updating Course

                    form.form.form-user-courseu(method="post", enctype='multipart/form-data')
                        .form__group
                            label.form__label(for='name') Course name
                            input#name.form__input(type='text', required, value=`${review.name}`, name='name')
                            label.form__label(for='name') Duration
                            input#duration.form__input(type='number', required, value=`${review.duration}`, name='duration')
                            label.form__label(for='name') Max Group Size
                            input#maxgroupsize.form__input(type='number', required, value=`${review.maxGroupSize}`, name='maxgroupsize')
                            label.form__label(for='email') Difficulty
                            input#difficulty.form__input(list='email', required, value=`${review.difficulty}`, name='difficulty')
                            datalist#email
                                option(value='easy')
                                option(value='medium')
                                option(value='difficult')
                            label.form__label(for='email') Ratings Average 
                            input#average.form__input(type='number', value=`${review.ratingsAverage}`, min=1, max=5, name='average')
                            label.form__label(for='email') Ratings Quantity 
                            input#quantity.form__input(type='number', value=`${review.ratingsQuantity}`, name='quantity')
                            .accordion
                                input.accordion-select(type="radio" name="select")
                                .accordion-title
                                    label.form__label(for='email') Guide     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nabla;
                                .accordion-content
                                    - var iu = 0
                                    each ui, i in crs
                                        //- var i = 0
                                        input.form__input(type='checkbox', name='guide', value=`${ui._id}`, id=`guide${i}`)
                                        label.form__label(for='email')=`${ui.name}`
                                        //-input#guides.form__input(type='hidden', value=`${i+1}`)
                                        - iu += 1
                                    input#guides.form__input(type='hidden', value=`${iu}`)

                            .accordion
                                input.accordion-select(type="radio" name="select")
                                .accordion-title
                                    label.form__label(for='email') Start Date   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nabla;
                                .accordion-content
                                    - var iu = 0
                                    each star in [1, 2, 3, 4, 5] 
                                        input.form__input(type='date', name=`startdate_${iu}`, id=`startdate_${iu}`)
                                        //-input#start.form__input(type='hidden', value=`${star}`)
                                        - iu += 1
                                    input#start.form__input(type='hidden', value=`${iu}`)

                        .form__group.ma-bt-md
                            label.form__label(for='name') Price
                            input#price.form__input(type='number', required, value=`${review.price}`, name='price')
                            label.form__label(for='name') Discount Price
                            input#discountprice.form__input(type='number', required, value=`${review.priceDiscount}`, name='discountprice')
                            label.form__label(for='name') Summary
                            textarea#summary.form__input(type='text', required, value=`${review.summary}`, name='summary', height:600, width:520)
                            label.form__label(for='name') Description
                            textarea#description.form__input(type='text', required, value=`${review.description}`, name='description', height:700, width:520)
                            //-label.form__label(for='name') Cours category
                            //-input#course.form__input(type='text', required, value=`${review.category}`, name='course')
                            input#cours-id.form__input(type='hidden', value=`${review._id}`)
                        
                        .form__group.form__photo-upload
                            
                            label.form__label(for='email') Images
                            input.form__upload1(type='file', accept='image/*', name=`images`, id='photo', multiple)    
                            //-label(for='photo1') Images

                            label.form__user-photo(for='name') Image cover
                            //- accept='image/*' will accept all type of image , class='imageCover' , multiple='multiple'
                            input.form__upload(type='file', accept='image/*', id='photo1', name='imageCover', class=`imageCover`, required)
                            label(for='photo1') Image Cover

                        .form__group.right
                            button.btn.btn--small.btn--reviewUpd(style='background:#1572ac;color:white;') Update
